.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.gap-md {
    gap: 0.8rem;
}

.break-work {
    word-wrap: break-word;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    all: unset;
    padding: 10px;
    cursor: pointer;
    transition: background-color 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.secondary-btn:hover {
    background-color: #eee;
}

.danger-btn {
    background-color: red !important;
    color: white !important;
}