.tab-component {
    width: 100%;
}

.tab-header {
    display: flex;
    border-bottom: 1px solid #eee;
}

.tab-header .tab {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-header .tab:nth-child(2n) {
    border-left: 1px solid #eee;
}

.tab__active {
    border-bottom: 1px solid black;
    font-weight: 700;
}