.tab-component {
    width: 100%;
}

.tab-header {
    display: flex;
    background: #eee;
}

.tab-header .tab {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: all 100ms;
}

.tab-header .tab:nth-child(2n) {
    border-left: 1px solid #eee;
}

.tab__active {
    background-color: #fff;
    font-weight: 700;
}