.toast {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.progress-bar {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 5px;
    width: 100%;
    transform: scale(0);
    animation: scale ease-out;
    transform-origin: left;
}

.toast-success .progress-bar {
    background-color: green;
}

.toast-failure .progress-bar {
    background-color: red;
}

.toasts-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
}

@keyframes slide-in {
    from {
        transform: translateX(40%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    to {
        transform: translateX(40%);
    }
}

@keyframes scale {
    from {
        transform: scaleX(100%);
    }

    to {
        transform: scaleX(0);
    }
}